.App {
  text-align: center;
  background-color: beige;
  /* padding: 20px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* News Card Styling */
.newsCard{
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin: 20px;
  width: 50vw;
  justify-content: center;
}

.newsCard header{
  background-color: #3a3939;
  color: #CAC7C7;
  padding: 20px;
}
.newsCard summary{
  padding: 10px;
}
.newsCard figure{
  padding: 10px;
}
.newsCard footer{
  padding: 15px;
  border-top: 1px dotted #000;
}
.newsCard figure img{
  object-fit: cover;
  width: 35vw;
  height: auto;
}

.pages{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages a{
  text-decoration: none;
  outline: none;
}


.navLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkslategray;
  position: sticky;
  top: 0;
  align-self: flex-start
}
.navLinks a{
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}

/* spinner */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
    stroke: rgb(68, 138, 209);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
